.h3Div 
{
    color: white;
    text-align: start;
}
.time
{
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
}

.time div
{
    padding: 10px;
    margin: 10px;
    border-color: rgb(39, 39, 39);
    border-radius: 10px;
    border-style: solid;
    width: 8rem;
    text-align: center;
    transition-duration: .5s;
}
.time div::before
{
    position: absolute;
    transform: translateY(-17px);
    background-color: black;
    border-style: solid;
    border-color: rgb(39, 39, 39);
    border-radius: 3px;
    width: 10px;
    height: 5px;
    display: block;
    content: "";
    transition-duration: .5s; 
}
.time div::after
{
    position: absolute;
    transform: translateY(6px)translateX(6.2rem);
    background-color: black;
    border-style: solid;
    border-color: rgb(39, 39, 39);
    border-radius: 3px;
    width: 10px;
    height: 5px;
    display: block;
    content: "";
    transition-duration: .5s;
}
.date
{
    color: white;
    top: 50%;
    display: flex;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.date div
{
    padding: 10px;
    margin: 10px;
    border-color: rgb(39, 39, 39);
    border-radius: 10px;
    width: 8rem;
    border-style: solid;
    text-align: center;
    transition-duration: .5s;
}
.date div::before
{
    position: absolute;
    transform: translateY(-17px);
    background-color: black;
    border-style: solid;
    border-color: rgb(39, 39, 39);
    border-radius: 3px;
    width: 10px;
    height: 5px;
    display: block;
    content: "";
    transition-duration: .5s;
}
.date div::after
{
    position: absolute;
    transform: translateY(6px)translateX(6.2rem);
    background-color: black;
    border-style: solid;
    border-color: rgb(39, 39, 39);
    border-radius: 3px;
    width: 10px;
    height: 5px;
    display: block;
    content: "";
    transition-duration: .5s;
}
.bg
{
    background-color: black;
    border-color: rgb(39, 39, 39);
    border-radius: 10px;
    border-style: solid;
    width: 40rem;
    padding: 1rem;
    transition-duration: .5s;
}
.bg::before
{
    position: absolute;
    transform: translateY(-1.75rem);
    background-color: black;
    border-color: rgb(39, 39, 39);
    border-radius: 3px;
    border-style: solid;
    display: block;
    width: 2rem;
    height: 1rem;
    content: '';
    transition-duration: .5s;
}
.bg::after
{
    position: absolute;
    transform: translateY(.4rem) translateX(37.6rem);
    background-color: black;
    border-color: rgb(39, 39, 39);
    border-radius: 3px;
    border-style: solid;
    display: block;
    width: 2rem;
    height: 1rem;
    content: '';
    transition-duration: .5s;
}
/*For the hover animation*/
.bg:hover
{
    border-color: rgb(226, 149, 5);
    box-shadow: 0px 0px 10px 1px rgb(226, 149, 5);
    cursor: default;
    transition-duration: .5s;
}
.date div:hover
{
    border-color: rgb(250, 18, 18);
    box-shadow: 0px 0px 10px 1px rgb(250, 18, 18);
    cursor: default;
    transition-duration: .5s; 
}
.time div:hover
{
    border-color: rgb(35, 94, 255);
    box-shadow: 0px 0px 10px 1px rgba(35,94,255,0.78);
    transition-duration: .5s;
    cursor: default;
}
.bg:hover::before
{
    position: absolute;
    transform: translateY(-1.75rem) translateX(37.6rem);
    background-color: black;
    border-color: rgb(226, 149, 5);
    box-shadow: 0px 0px 10px 1px rgb(226, 149, 5);
    border-radius: 3px;
    border-style: solid;
    display: block;
    width: 2rem;
    height: 1rem;
    content: '';
    transition-duration: .5s;
}
.bg:hover::after
{
    position: absolute;
    transform: translateY(.4rem) translateX(0rem);
    background-color: black;
    border-color: rgb(226, 149, 5);
    box-shadow: 0px 0px 10px 1px rgb(226, 149, 5);
    border-radius: 3px;
    border-style: solid;
    display: block;
    width: 2rem;
    height: 1rem;
    content: '';
    transition-duration: .5s;
}
.date div:hover::before
{
    position: absolute;
    transform: translateY(-17px)translateX(6.2rem);
    background-color: black;
    border-style: solid;
    border-color: rgb(250, 18, 18);
    box-shadow: 0px 0px 10px 1px rgb(250, 18, 18);
    width: 10px;
    height: 5px;
    display: block;
    content: "";
    transition-duration: .5s;
}
.date div:hover::after
{
    position: absolute;
    transform: translateY(6px)translateX(0px);
    background-color: black;
    border-style: solid;
    border-color: rgb(250, 18, 18);
    box-shadow: 0px 0px 10px 1px rgb(250, 18, 18);
    width: 10px;
    height: 5px;
    display: block;
    content: "";
    transition-duration: .5s;
}
.time div:hover::before
{
    position: absolute;
    transform: translateY(-17px)translateX(6.2rem);
    background-color: black;
    border-style: solid;
    border-color: rgb(35, 94, 255);
    box-shadow: 0px 0px 10px 1px rgba(35,94,255,0.78);
    width: 10px;
    height: 5px;
    display: block;
    content: "";
    transition-duration: .5s;
}
.time div:hover::after
{
    position: absolute;
    transform: translateY(6px)translateX(0px);
    background-color: black;
    border-style: solid;
    border-color: rgb(35, 94, 255);
    box-shadow: 0px 0px 10px 1px rgba(35,94,255,0.78);
    width: 10px;
    height: 5px;
    display: block;
    content: "";
    transition-duration: .5s;
}

/*End of hover animation*/